body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.sellc {
    background-color: #da6c12;
}

.closeallc {
    background-color: #fa0000;
}

button:hover {
    background-color: #3c4b5a;
}

p {
    font-size: 18px;
    font-weight: bold;
}
